PORT=4000
NODE_ENV=DEV
DATABASE_URL=postgres://postgres@localhost:5432/tcv_server
JWT_SECRET=replace_me
WAPP_CONTACT=923001234567

GOOGLE_APP_NAME=TCV Server
GOOGLE_ACCOUNT=your_email@gmail.com
GOOGLE_APP_PASS=your_google_app_password

OTP_TTL_MINUTES=10
CORS_ORIGIN=http://localhost:3000
SEED_ADMIN_NAME=Admin
SEED_ADMIN_F_NAME=Root
SEED_ADMIN_EMAIL=admin@thecardwalla.com
SEED_ADMIN_PASSWORD=Admin@12345
SEED_ADMIN_CONTACT=03001234567
SEED_ADMIN_DOB=01-01-1990
SEED_ADMIN_GENDER=1
SEED_ADMIN_ADDRESS=Islamabad
SEED_ADMIN_CITY=Islamabad
SEED_ADMIN_COUNTRY=Pakistan
